# Environment files
.env
.env.*
*.env
backend/.env*
frontend/.env*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# Node
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# Uploads & Media
backend/app/static/uploads/
uploads/